@page "/fetchplatforms"
@using Platforms.gRPC
<PageTitle>Platforms</PageTitle>

<h1>Platforms</h1>
@if (_platforms == null)
{
    <p><em>Loading...</em></p>
}else{
    <Grid TItem="Platform"
          AllowFiltering="true"
          AllowPaging="true"
          AllowSorting="true"
          AutoHidePaging="true"
          Class="table table-hover table-bordered table-striped"
          DataProvider="PlatformsDataProvider"
          PageSize="3"
          PageSizeSelectorVisible="true"
          PageSizeSelectorItems="@(new int[] { 5,2,2 })"
          Responsive="true">

        <GridColumns>
            <GridColumn TItem="Platform" HeaderText="Id" PropertyName="Id" SortKeySelector="item => item.Id">
                @context.Id
            </GridColumn>
            <GridColumn TItem="Platform" HeaderText="Platform Name" PropertyName="Name" SortKeySelector="item => item.Name">
                @context.Name
            </GridColumn>
            <GridColumn TItem="Platform" HeaderText="Description" PropertyName="Designation" SortKeySelector="item => item.Description">
                @context.Description
            </GridColumn>
            <GridColumn TItem="Platform" HeaderText="Version" PropertyName="Version" SortKeySelector="item => item.Version">
                @context.Version
            </GridColumn>
            <GridColumn TItem="Platform" HeaderText="ReleaseDate" PropertyName="ReleaseDate" SortKeySelector="item => item.ReleaseDate.ToDateTime().ToString()">
                @context.ReleaseDate
            </GridColumn>
        </GridColumns>

    </Grid>
}